.r-skeleton {
  * {
    opacity: 0 !important;
  }

  -webkit-text-fill-color: transparent !important;

  background-color: rgba(0, 0, 0, 0.12) !important;
  overflow: hidden !important;
  position: relative !important;

  &:after {
    animation: skeletonloading 1.5s infinite;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(-100%);
    z-index: 1;
    background: linear-gradient(
                    90deg,
                    hsla(0, 0%, 100%, 0),
                    hsla(0, 0%, 100%, 0.3),
                    hsla(0, 0%, 100%, 0)
    );
  }

  @keyframes skeletonloading {
    100% {
      transform: translateX(100%);
    }
  }
}
