@import "../../style/include";

$progress-circle-rotate-animation: progress-circle-rotate 1.4s linear infinite !default;
$progress-circle-rotate-dash: progress-circle-dash 1.4s ease-in-out infinite !default;
$process-circle-intermediate-svg-transition: all .2s ease-in-out !default;
$progress-circle-underlay-stroke: rgba(map-get($shades, 'black'), 0.1) !default;
$progress-circle-overlay-transition: all .6s ease-in-out !default;

.#{$prefix}progress-circle {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;

  svg {
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
  }

  &-indeterminate {
    svg {
      animation: $progress-circle-rotate-animation;
      transform-origin: center center;
      transition: $process-circle-intermediate-svg-transition;
    }

    .#{$prefix}progress-circle-overlay {
      animation: $progress-circle-rotate-dash;
      stroke-linecap: round;
      stroke-dasharray: 80, 200;
      stroke-dashoffset: 0px;
    }
  }

  &-info {
    align-items: center;
    display: flex;
    justify-content: center
  }

  &-underlay {
    stroke: $progress-circle-underlay-stroke;
    z-index: 1
  }

  &-overlay {
    stroke: currentColor;
    z-index: 2;
    transition: $progress-circle-overlay-transition
  }
}

@keyframes progress-circle-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0px
  }
  50% {
    stroke-dasharray: 100, 200;
    stroke-dashoffset: -15px
  }
  100% {
    stroke-dasharray: 100, 200;
    stroke-dashoffset: -125px
  }
}

@keyframes progress-circle-rotate {
  100% {
    transform: rotate(360deg)
  }
}


//line

.#{$prefix}progress {
  text-align: center;

  &.progress-outlined {
    color: var(--color-border)
  }

  .line-determinate {
    background-color: var(--color-on-sheet);
  }

  .line-indeterminate {
    background-color: var(--color-on-sheet);
  }

    .progress-background {
      background-color: var(--color-sheet-container);
    }

  &.progress-outlined {
    border: 1px solid;
  }

  &.progress-rounded {
    border-radius: 20px;
    overflow: hidden;
  }

  .progress-container {
    position: relative;
    display: block;
    width: 100%;
    background-clip: padding-box;
    overflow: hidden;
  }

  &.size {
    &-small {
      .progress-container {
        height: 4px;
      }
    }

    &-medium {
      .progress-container {
        height: 8px;
      }

      &.progress-outlined {
        border-width: 2px;
      }
    }

    &-large {
      .progress-container {
        height: 12px;
      }

      &.progress-outlined {
        border-width: 3px;
      }
    }

    &-x-large {
      .progress-container {
        height: 16px;
      }

      &.progress-outlined {
        border-width: 4px;
      }
    }
  }

  .line-determinate {
    position: absolute;
    top: 0;
    bottom: 0;
    transition: width .3s linear;
    border-radius: 2px;
  }

  .line-indeterminate {
    border-radius: 2px;

    &:before {
      content: '';
      position: absolute;
      background-color: inherit;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    }

    :after {
      content: '';
      position: absolute;
      background-color: inherit;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      animation-delay: 1.15s;
    }
  }


  @keyframes indeterminate {
    0% {
      left: -35%;
      right: 100%;
    }
    60% {
      left: 100%;
      right: -90%;
    }
    100% {
      left: 100%;
      right: -90%;
    }
  }

  @keyframes indeterminate-short {
    0% {
      left: -200%;
      right: 100%;
    }
    60% {
      left: 107%;
      right: -8%;
    }
    100% {
      left: 107%;
      right: -8%;
    }
  }
}


