@import "./_include";
//Surface – A role used for backgrounds and large, low-emphasis areas of the screen.
//Primary, Secondary, Tertiary – Accent color roles used to emphasize or de-emphasize foreground elements.
//Container – Roles used as a fill color for foreground elements like buttons. They should not be used for text or icons.
//On – Roles starting with this term indicate a color for text or icons on top of its paired parent color. For example, on primary is used for text and icons against the primary fill color.
//Variant – Roles ending with this term offer a lower emphasis alternative to its non-variant pair. For example, outline variant is a less emphasized version of the outline color.
$colorsList: (
        "one": #415F91,
        "on-one": #FFFFFF,
        "one-container": #D6E3FF,
        "on-one-container": #001B3E,
        "two": #565F71,
        "on-two": #FFFFFF,
        "two-container": #DAE2F9,
        "on-two-container": #131C2B,
        "three": #705575,
        "on-three": #FFFFFF,
        "three-container": #FAD8FD,
        "on-three-container": #28132E,
        "error": #BA1A1A,
        "on-error": #FFFFFF,
        "error-container": #FFDAD6,
        "on-error-container": #410002,
        "success": #246b0f,
        "on-success": #FFFFFF,
        "success-container": #e3ffd6,
        "on-success-container": #1d4100,
        "warning": #a45104,
        "on-warning": #FFFFFF,
        "warning-container": #ffe8d6,
        "on-warning-container": #411f00,
        "info": #1a5aba,
        "on-info": #FFFFFF,
        "info-container": #d6e9ff,
        "on-info-container": #002341,
        "sheet": #F9F9FF,
        "sheet-dark": #D9D9E0,
        "sheet-light": #F9F9FF,
        "on-sheet": #191C20,
        "sheet-low": #E0E2EC,
        "on-sheet-low": #44474E,
        "sheet-container-lowest": #FFFFFF,
        "sheet-container-low": #F3F3FA,
        "sheet-container": #EDEDF4,
        "sheet-container-high": #E7E8EE,
        "sheet-container-highest": #E2E2E9,
        "border": #74777F,
        "border-low": #C4C6D0,
        "overlay": #F6FAFE7f,
) !default;

:root {
  @each $color_name, $color_value in $colorsList {
    --color-#{$color_name}: #{$color_value};
  }
}

@each $color_name, $color_value in $gradient {
  .#{$prefix}app .color-gradient-#{$color_name} {
    background: linear-gradient(map_get($color_value, '0'), map_get($color_value, '1')) !important;
    color: white !important;
  }
  .#{$prefix}app .color-gradient-#{$color_name}-45 {
    background: linear-gradient(45deg, map_get($color_value, '0'), map_get($color_value, '1')) !important;
    color: white !important;
  }
  .#{$prefix}app .color-gradient-#{$color_name}-90 {
    background: linear-gradient(90deg, map_get($color_value, '0'), map_get($color_value, '1')) !important;
    color: white !important;
  }
}

@each $color_name, $color_value in $shades {
  .#{$prefix}app .color-#{$color_name} {
    @include background-color($color_value, true);
  }

  .#{$prefix}app .color-#{$color_name}-text {
    @include text-color($color_value, true);
  }
}

@each $color_name, $color_value in $grey {
  .#{$prefix}app .color-grey-#{$color_name} {
    @include background-color($color_value, true);
  }

  .#{$prefix}app .color-grey-#{$color_name}-text {
    @include text-color($color_value, true);
  }
}

@each $color_name, $color_value in $colorMain {
  .color-#{$color_name} {
    @include background-color(var(--color-#{$color_name}), true);
    @include text-color(var(--color-on-#{$color_name}), true);
  }
  .color-#{$color_name}-text {
    @include text-color(var(--color-#{$color_name}), true);
  }
}

.shadow-info {
  --box-shadow: rgba(10, 150, 250, 0.2)
}

.shadow-success {
  --box-shadow: rgba(50, 250, 10, 0.2)
}

.shadow-error {
  --box-shadow: rgba(255, 10, 30, 0.2)
}

.shadow-warning {
  --box-shadow: rgba(250, 150, 10, 0.2)
}


