@import "./_include";

$colorsList: (
        'one': #00acc1,
        'one_l': #5ddef4,
        'one_d': #007c91,
        'two': #e8098f,
        'error':#D50000,
        'info':#0878f6,
        'warning':#fbc02d,
        'success':#04c40d,
        'link':#4f98ec,
        'background-one':#fafafa,
        'background-two':#e0e0e0,
        'divider':rgba(#444, 0.2),
        'text-primary':#515151,
        'text-secondary':#888,
        'text-disabled':rgba(#000, 0.26),
        'disabled':rgba(#000, 0.26),
        'focused':rgba(#000, 0.12),
        'pressed':rgba(#999, 0.4),
        'border': rgba(#000, 0.24),
        'sheet': #fff,
        'table-active': #f5f5f5,
        'table-hover': #eeeeee,
        'overlay': rgba(225, 225, 225, 0.5)
) !default;

:root {
  @each $color_name, $color_value in $colorsList {
    --color-#{$color_name}: #{$color_value};
  }
  @each $color_name, $color_value in $colorMain {
    --color-#{$color_name}-text: #{$color_value};
  }
}

@each $color_name, $color_value in $gradient {
  .#{$prefix}app .color-gradient-#{$color_name} {
    background: linear-gradient(map_get($color_value, '0'), map_get($color_value, '1')) !important;
    color: white !important;
  }
  .#{$prefix}app .color-gradient-#{$color_name}-45 {
    background: linear-gradient(45deg, map_get($color_value, '0'), map_get($color_value, '1')) !important;
    color: white !important;
  }
  .#{$prefix}app .color-gradient-#{$color_name}-90 {
    background: linear-gradient(90deg, map_get($color_value, '0'), map_get($color_value, '1')) !important;
    color: white !important;
  }
}

@each $color_name, $color_value in $shades {
  .#{$prefix}app .color-#{$color_name} {
    @include background-color($color_value, true);
  }

  .#{$prefix}app .color-#{$color_name}-text {
    @include text-color($color_value, true);
  }
}

@each $color_name, $color_value in $grey {
  .#{$prefix}app .color-grey-#{$color_name} {
    @include background-color($color_value, true);
  }

  .#{$prefix}app .color-grey-#{$color_name}-text {
    @include text-color($color_value, true);
  }
}

@each $color_name, $color_value in $colorMain {
  .color-#{$color_name} {
    @include background-color(var(--color-#{$color_name}), true);
    @include text-color(var(--color-#{$color_name}-text),true);
  }
  .color-#{$color_name}-text {
    @include text-color(var(--color-#{$color_name}), true);
  }
}

.shadow-info {
  --box-shadow: rgba(10, 150, 250, 0.2)
}

.shadow-success {
  --box-shadow: rgba(50, 250, 10, 0.2)
}

.shadow-error {
  --box-shadow: rgba(255, 10, 30, 0.2)
}

.shadow-warning {
  --box-shadow: rgba(250, 150, 10, 0.2)
}

.color-primary-text {
  @include text-color(var(--color-text-primary), true);
}

.color-secondary-text {
  @include text-color(var(--color-text-secondary), true);
}

.color-disabled-text {
  @include text-color(var(--color-text-disabled), true);
}


