@use "mixins";

/* counter-up */
.counter-up {
  &-enter-active {
    transition: .3s ease-in-out;
  }

  &-leave-active {
    transition: .3s ease-in-out;
  }

  &-enter-from {
    transform: translateY(10px);
  }
   &-leave-to {
    transform: translateY(-10px);
  }
}

/* counter-down */
.counter-down {
  &-enter-active {
    transition: .3s ease-in-out;
  }

  &-leave-active {
    transition: .3s ease-in-out;
  }

  &-enter-from {
    transform: translateY(-10px);
  }
   &-leave-to {
    transform: translateY(10px);
  }
}

/* scale */
.scale {
  &-enter-active {
    transition: .3s ease-in-out;
  }

  &-leave-active {
    transition: .3s ease-in-out;
  }

  &-enter-from, &-leave-to {
    transform: scale(0.5);
    opacity: 0;
  }

  &-move {
    transition: transform .7s ease-in-out;
  }
}

.fade {
  &-enter-active {
    transition: opacity .5s ease-in-out;
  }

  &-leave-active {
    transition: opacity .3s ease-in-out;
  }

  &-enter-from, &-leave-to {
    opacity: 0;
  }

  &-move {
    transition: transform .7s ease-in-out;
  }
}

.slide-start-to-end {
  &-enter-active {
    transition: all .3s ease;
  }

  &-leave-active {
    transition: all .3s ease-in-out;
  }

  &-enter-from {
    @include mixins.rtl() {
      transform: translateX(-30px);
    }
    @include mixins.ltr() {
      transform: translateX(30px);
    }

    opacity: 0;
  }

  &-leave-to {
    @include mixins.rtl() {
      transform: translateX(30px);
    }
    @include mixins.ltr() {
      transform: translateX(-30px);
    }

    opacity: 0;
  }

  &-move {
    transition: transform .7s ease-in-out;
  }
}

.slide-end-to-start {
  &-enter-active {
    transition: all .3s ease-in-out;
  }

  &-leave-active {
    transition: all .3s ease-in-out;
  }

  &-enter-from {
    @include mixins.rtl() {
      transform: translateX(30px);
    }
    @include mixins.ltr() {
      transform: translateX(-30px);
    }

    opacity: 0;
  }

  &-leave-to {
    @include mixins.rtl() {
      transform: translateX(-30px);
    }
    @include mixins.ltr() {
      transform: translateX(30px);
    }

    opacity: 0;
  }

  &-move {
    transition: transform .7s ease-in-out;
  }
}

.slide-start {
  &-enter-active {
    transition: all .3s ease-in-out;
  }

  &-leave-active {
    transition: all .3s ease-in-out;
  }

  &-enter-from, &-leave-to {
    @include mixins.rtl() {
      transform: translateX(-60%);
    }
    @include mixins.ltr() {
      transform: translateX(60%);
    }

    opacity: 0;
  }

  &-move {
    transition: transform .7s ease-in-out;
  }
}

.slide-end {
  &-enter-active {
    max-width: 100%;
    transition: all .3s ease-in-out;
  }

  &-leave-active {
    max-width: 100%;
    transition: all .3s ease-in-out;
  }

  &-enter-from, &-leave-to {
    @include mixins.rtl() {
      transform: translateX(60%);
    }
    @include mixins.ltr() {
      transform: translateX(-60%);
    }

    opacity: 0;
  }

  &-move {
    transition: transform .7s ease-in-out;
  }
}

.slide-up {
  &-enter-active {
    transition: all .3s ease-in-out;
  }

  &-leave-active {
    transition: all .3s ease-in-out;
  }

  &-enter-from, &-leave-to {
    transform: translateY(60%);
    opacity: 0;
  }

  &-move {
    transition: transform .7s ease-in-out;
  }
}

.slide-down {
  &-enter-active {
    transition: all .3s ease-in-out;
  }

  &-leave-active {
    transition: all .3s ease-in-out;
  }

  &-enter-from, &-leave-to {
    transform: translateY(-60%);
    opacity: 0;
  }

  &-move {
    transition: transform .7s ease-in-out;
  }
}

.rotate-y {
  &-enter-active {
    transition: all .3s ease-in-out;
  }

  &-leave-active {
    transition: all .3s ease-in-out;
  }

  &-enter-from,&-leave-to{
    transform: rotateY(90deg);
    opacity: 0;
  }

  &-move {
    transition: transform .7s ease;
  }
}
