@use "sass:map";
@use "../../style/variables/base";
@use "../../style/mixins";

$data-table-thin-header-height: 38px !default;
$data-table-thin-row-height: 32px !default;
$data-table-regular-row-height: 42px !default;
$data-table-regular-header-height: 38px !default;

.#{base.$prefix}table {
  position: relative;

  .table-wrapper {
    background-color: var(--color-sheet-container-lowest);
    color: var(--color-on-sheet);
  }

  .table-svg-path {
    fill: var(--color-sheet);
  }

  .table-editable-icon {
    background-color: var(--color-sheet);
    color: var(--color-on-sheet);
  }

  &.table-fixed-header {
    thead th {
      box-shadow: inset 0 -2px var(--color-border)
    }
  }

  thead {
    tr {
      &:last-child th {
        border-bottom: 1px solid var(--color-border)
      }

      th {
        background-color: var(--color-sheet);
        color: var(--color-on-sheet)
      }
    }
  }

  &.table-fixed-first-columns {
    tr {
      th:first-child {
        background: var(--color-sheet);
        color: var(--color-on-sheet)
      }

      td:first-child {
        background: var(--color-sheet);
        color: var(--color-on-sheet)
      }

      &:hover {
        td:first-child {
          background: var(--color-sheet-container);
          color: var(--color-on-sheet)
        }
      }
    }
  }

  &.table-stripped {
    tbody {
      tr:nth-child(2n):not(:hover) {
        td {
          background: var(--color-sheet-container-low)
        }
      }
    }
  }

  tbody {
    tr {
      &:active {
        background: var(--color-sheet-container)
      }

      &:hover {
        background: var(--color-sheet-container)
      }
    }

    tr:not(:last-child) {
      td {
        border-bottom: 1px solid var(--color-border)
      }
    }
  }

  &.table-bordered .table-wrapper {
    border: 1px solid var(--color-border);
    border-collapse: collapse;
  }

  .table-wrapper {
    border-radius: map.get(base.$borders, 'lg');
    overflow: hidden;
  }

  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
  }

  td, th {
    padding: 0 16px;
    @include mixins.ltr() {
      text-align: left
    }
    @include mixins.rtl() {
      text-align: right
    }
  }

  th {
    user-select: none;
    font-size: 14px;
    font-weight: bold;
    height: $data-table-regular-header-height;

  }

  td {
    font-size: 14px;
    font-weight: normal;
    height: $data-table-regular-row-height;
  }

  &.row-thin {
    th {
      font-size: 12px;
      height: $data-table-thin-header-height;

    }

    td {
      font-size: 12px;
      height: $data-table-thin-row-height
    }
  }

  .table-container {
    overflow-x: auto
  }

  &.table-fixed-header {
    .table-container {
      overflow-y: auto;
      max-height: 85vh;
    }

    thead {
      th {
        border-bottom: 0px !important;
        position: sticky;
        top: 0;
        z-index: 2;

        tr:nth-child(2) {
          th {
            top: $data-table-regular-header-height
          }
        }
      }
    }
  }

  &.table-fixed-first-columns {
    tr {
      position: relative;

      th:first-child {
        min-width: 300px !important;
        position: sticky;
        width: 300px;
        @include mixins.rtl() {
          right: 0;
        }
        @include mixins.ltr() {
          left: 0;
        }
        z-index: map.get(base.$z-index, 'medium');
      }

      td:first-child {
        position: sticky;
        width: 300px;
        @include mixins.rtl() {
          right: 0;
        }
        @include mixins.ltr() {
          left: 0;
        }
        height: auto;
        z-index: map.get(base.$z-index, 'low');
      }
    }
  }

  &.table-sortable {
    th {
      &:hover {
        cursor: pointer;
      }
    }
  }

  &.table-editable {
    .table-editable-icon {
      cursor: pointer;
      border-radius: 20px 20px 0 0;
      border: none;
      min-width: 25px !important;
      padding-top: 8px;
      height: 30px !important;
    }

    .table-wrapper {
      @include mixins.rtl() {
        border-top-left-radius: 0;
      }
      @include mixins.ltr() {
        border-top-right-radius: 0;
      }
    }

    .table-svg {
      @include mixins.ltr() {
        transform: rotateY(180deg);
      }
    }
  }

  .sort-desc {
    transform: rotate(180deg) !important;
  }

  tr, td, td > * {
    transition: height .4s ease-in-out;
  }

  td > * {
    overflow-y: hidden;
    overflow-x: auto;
  }

  .tr-hidden {
    overflow: hidden;
  }

  .table-row-enter-active, .table-row-leave-active {
    transition: height .3s linear;
    line-height: 0;
  }

  .table-row-enter-from {
    td {
      height: 0;
      line-height: 0;
      overflow: hidden;
    }
  }

  .table-row-leave-to {
    td {
      height: 0;
      line-height: 0;
      overflow: hidden;

    }
  }

  .table-row-move {
    transition: transform .3s ease-in-out;
  }
}

.#{base.$prefix}table-manage {
  white-space: nowrap;

  .table-checkbox {
    width: 17px;
    height: 17px;
  }

  .manage-footer {
    .btn-page {
      color: var(--color-on-sheet);
      border: solid 1px var(--color-sheet-low);
      background-color: var(--color-sheet-container);
    }
  }

  th {
    position: relative;
    transition: 0.2s;

    .icon-hidden {
      visibility: hidden;
    }

    &.header-sortable:hover {
      cursor: pointer;

      .icon-hidden {
        visibility: visible;
      }
    }
  }

  td {
    max-width: 130px !important;
    overflow: auto;
  }

  .manage-footer {
    .btn-page {
      border-radius: 30px;
      padding: 2px;
    }

    .per-page {
      width: 80px;
    }

    .input-page {
      outline: none;
      width: 20px;

    }
  }
}
