$prefix: 'r-' !default;
$body-font-family: IRANSans, 'Roboto', sans-serif !default;
$font-size-root: 16px !default;
$font-size-root-mobile: 13px !default;
$line-height-root: 1.5rem !default;

$spacer: 4px !default;
$spacers: ();
@for $i from 0 through 24 {
  $spacers: map-merge($spacers, ($i: $spacer * $i))
}

$negative-spacers: ();
@for $i from 1 through 24 {
  $negative-spacers: map-merge($negative-spacers, ("n" + $i: -$spacer * $i))
}

$borders: (
        'none': 0,
        'xs': .125rem,
        'sm': .25rem,
        'md': .5rem,
        'lg': 1rem,
        'xl': 1.5rem,
        'pill': 9999px,
        'circle': 50%
) !default;

$cursor: ('pointer', 'auto', 'grab', 'grabbing') !default;

$widths: (
        'full': 100%,
        '95': 95%,
        '90': 90%,
        '85': 85%,
        '80': 80%,
        '75': 75%,
        '70': 70%,
        '65': 65%,
        '60': 60%,
        '55': 55%,
        '50': 50%,
        '45': 45%,
        '40': 40%,
        '35': 35%,
        '30': 30%,
        '25': 25%,
        '20': 20%,
        '15': 15%,
        '10': 10%,
        '5': 5%
) !default;
$heights: (
        'full': 100%,
        '95': 95%,
        '90': 90%,
        '85': 85%,
        '80': 80%,
        '75': 75%,
        '70': 70%,
        '65': 65%,
        '60': 60%,
        '55': 55%,
        '50': 50%,
        '45': 45%,
        '40': 40%,
        '35': 35%,
        '30': 30%,
        '25': 25%,
        '20': 20%,
        '15': 15%,
        '10': 10%,
        '5': 5%
) !default;

$grid-breakpoints: (
        'xs': 0,
        'sm': 600px,
        'md': 960px,
        'lg': 1280px,
        'xl': 1620px
) !default;

$grid-gutter: $spacer * 6 !default;
$form-grid-gutter: $spacer * 2 !default;
$grid-columns: 12 !default;

$container-padding-x: div($grid-gutter, 2) !default;

$grid-gutters: (
        'xs': div($grid-gutter, 12),
        'sm': div($grid-gutter, 6),
        'md': div($grid-gutter, 3),
        'lg': div($grid-gutter * 2, 3),
        'xl': $grid-gutter
) !default;

$box-shadows: (
        'none': none,
        'xs': var(--box-shadow, rgb(0 0 0 / 0.05)) 0 .06rem .125rem,
        'sm': var(--box-shadow, rgb(0 0 0 / 0.05)) 0 .125rem .25rem,
        'md': var(--box-shadow, rgb(0 0 0 / 0.1)) 0 .25rem .5rem,
        'lg': var(--box-shadow, rgb(0 0 0 / 0.1)) 0 .5rem 1rem,
        'xl': var(--box-shadow, rgb(0 0 0 / 0.1)) 0 .75rem 2rem,
        '2xl': var(--box-shadow, rgb(0 0 0 / 0.2)) 0 1.5rem 4rem,
) !default;

$container-max-widths: (
        'md': map-get($grid-breakpoints, 'md')-60,
        'lg': map-get($grid-breakpoints, 'lg')-80,
        'xl': map-get($grid-breakpoints, 'xl')-120
) !default;

$display-breakpoints: (
        'print-only': 'only print',
        'screen-only': 'only screen',
        'xs-only': 'only screen and (max-width: #{map-get($grid-breakpoints, 'sm') - 1})',
        'sm-only': 'only screen and (min-width: #{map-get($grid-breakpoints, 'sm')}) and (max-width: #{map-get($grid-breakpoints, 'md') - 1})',
        'sm-and-down': 'only screen and (max-width: #{map-get($grid-breakpoints, 'md') - 1})',
        'sm-and-up': 'only screen and (min-width: #{map-get($grid-breakpoints, 'sm')})',
        'md-only': 'only screen and (min-width: #{map-get($grid-breakpoints, 'md')}) and (max-width: #{map-get($grid-breakpoints, 'lg') - 1})',
        'md-and-down': 'only screen and (max-width: #{map-get($grid-breakpoints, 'lg') - 1})',
        'md-and-up': 'only screen and (min-width: #{map-get($grid-breakpoints, 'md')})',
        'lg-only': 'only screen and (min-width: #{map-get($grid-breakpoints, 'lg')}) and (max-width: #{map-get($grid-breakpoints, 'xl') - 1})',
        'lg-and-down': 'only screen and (max-width: #{map-get($grid-breakpoints, 'xl') - 1})',
        'lg-and-up': 'only screen and (min-width: #{map-get($grid-breakpoints, 'lg')})',
        'xl-only': 'only screen and (min-width: #{map-get($grid-breakpoints, 'xl')})'
) !default;

$font-weights: (
        'thin': 100,
        'light': 300,
        'regular': 400,
        'medium': 500,
        'bold': 700,
        'black': 900
) !default;


$headings: (
        'display-1': (
                'size': 4.75rem,
                'weight': 400,
                'line-height': 5.33rem,
                'letter-spacing': -0.02rem,
                'text-transform': false
        ),
        'display-2': (
                'size': 3.75rem,
                'weight': 400,
                'line-height': 4.33rem,
                'letter-spacing': 0,
                'text-transform': false
        ),
        'display-3': (
                'size': 3rem,
                'weight': 400,
                'line-height': 3.66rem,
                'letter-spacing': 0,
                'text-transform': false
        ),
        'headline-1': (
                'size': 2.66rem,
                'weight': 400,
                'line-height': 3.33rem,
                'letter-spacing': 0,
                'text-transform': false
        ),
        'headline-2': (
                'size': 2.33rem,
                'weight': 400,
                'line-height': 3rem,
                'letter-spacing': 0,
                'text-transform': false
        ),
        'headline-3': (
                'size': 2rem,
                'weight': 400,
                'line-height': 2.66rem,
                'letter-spacing': 0,
                'text-transform': false
        ),
        'title-1': (
                'size': 1.66rem,
                'weight': 400,
                'line-height': 2.33rem,
                'letter-spacing': 0,
                'text-transform': false
        ),
        'title-2': (
                'size': 1.33rem,
                'weight': 500,
                'line-height': 2rem,
                'letter-spacing': 0.0125rem,
                'text-transform': false
        ),
        'title-3': (
                'size': 1.15rem,
                'weight': 500,
                'line-height': 1.66rem,
                'letter-spacing': 0.008rem,
                'text-transform': false
        ),
        'body-1': (
                'size': 1.33rem,
                'weight': 400,
                'line-height': 2rem,
                'letter-spacing': 0.042rem,
                'text-transform': false
        ),
        'body-2': (
                'size': 1.15rem,
                'weight': 400,
                'line-height': 1.66rem,
                'letter-spacing': 0.02rem,
                'text-transform': false
        ),
        'body-3': (
                'size': 1rem,
                'weight': 400,
                'line-height': 1.33rem,
                'letter-spacing': 0.033rem,
                'text-transform': false
        ),
        'label-1': (
                'size': 1.15rem,
                'weight': 500,
                'line-height': 1.66rem,
                'letter-spacing': 0.008rem,
                'text-transform': uppercase
        ),
        'label-2': (
                'size':1rem,
                'weight': 500,
                'line-height': 1.33rem,
                'letter-spacing': 0.042rem,
                'text-transform': uppercase
        ),
        'label-3': (
                'size': 0.85rem,
                'weight': 500,
                'line-height': 1.33rem,
                'letter-spacing': 0.042rem,
                'text-transform': uppercase
        )
) !default;

$transition: (
        'fast-out-slow-in': cubic-bezier(0.4, 0, 0.2, 1),
        'linear-out-slow-in': cubic-bezier(0, 0, 0.2, 1),
        'fast-out-linear-in': cubic-bezier(0.4, 0, 1, 1),
        'ease-in-out': cubic-bezier(0.4, 0, 0.6, 1),
        'fast-in-fast-out': cubic-bezier(0.25, 0.8, 0.25, 1),
        'swing': cubic-bezier(0.25, 0.8, 0.5, 1),
        'wave': cubic-bezier(.175, .885, .275, 1.275)
) !default;
$primary-transition: 0.3s map-get($transition, 'swing') !default;
$secondary-transition: 0.2s map-get($transition, 'ease-in-out') !default;

$z-index: (
        'low':1,
        'default':5,
        'medium':10,
        'high':20,
        'important':50,
        'veryImportant':100,
) !default;

//bar
//toolbar
$toolbar-content-padding-y: 4px !default;
$toolbar-content-padding-x: 16px !default;
$toolbar-height: 80px !default;

//modal
$border-modal: map-get($borders, 'md') !default;

//bottom navigation
$bottom-nav-btn-min-width: 56px !default;
$bottom-nav-btn-max-width: 168px !default;
$bottom-nav-height: 56px !default;

//navbar
$navbar-width: 300px !default;

$states: (
        'hover':('state':('opacity':0.08)),
        'focus': ('state':('opacity':0.1)),
        'selected': ('state':('opacity':0.08)),
        'activated': ('state':('opacity':0.12)),
        'pressed': ('state':('opacity':0.1)),
        'disabled': ('state':('opacity':0.12, 'color':'sheet'), 'text':('opacity':0.38, 'color':'on-sheet')),
        'dragged': ('state':('opacity':0.16))
) !default;