//start color
$gradient: (
        'one': ('0':#07a0dc, '1':#6804f5),
        'two': ('0':#cc43fa,'1': #8549d9),
        'three': ('0':#e91e63,'1':#ec743d)
) !default;
$colorMain: (
        'one':#fff,
        'one_l':#fff,
        'one_d':#fff,
        'two':#fff,
        'error':#fff,
        'info':#fff,
        'warning':#fff,
        'success':#fff
) !default;

$shades: (
        'black': #000,
        'white': #fff,
        'transparent': transparent
);
$grey: (
        'base': #9e9e9e,
        'lighten-4': #fafafa,
        'lighten-3': #e6e6e6,
        'lighten-2': #d2d2d2,
        'lighten-1': #bebebe,
        'darken-4': #1e1e1e,
        'darken-3': #3c3c3c,
        'darken-2': #5a5a5a,
        'darken-1': #787878
);
//end color
