//start color
$gradient: (
        'one': ('0':#07a0dc, '1':#6804f5),
        'two': ('0':#cc43fa,'1': #8549d9),
        'three': ('0':#e91e63,'1':#ec743d)
) !default;
$colorMain: (
        'one':#fff,
        'two':#fff,
        'three':#fff,
        'error':#fff,
        'info':#fff,
        'warning':#fff,
        'success':#fff
) !default;

$shades: (
        'black': #000,
        'white': #fff,
        'transparent': transparent
);
