@use "sass:map";
@use "base";

$utilities: () !default;
$utilities: map.merge(
                (
                  // Display utilities
                        "display": (
                                print: true,
                                property: display,
                                class: d,
                                values: none inline inline-block block table table-row table-cell flex inline-flex
                        ),
                  // Flex utilities
                        "flex": (
                                property: flex,
                                values: (fill: 1 1 auto)
                        ),
                        "flex-direction": (
                                property: flex-direction,
                                class: flex,
                                values: row column row-reverse column-reverse
                        ),
                        "flex-grow": (
                                property: flex-grow,
                                class: flex,
                                values: (
                                        grow-0: 0,
                                        grow-1: 1,
                                )
                        ),
                        "flex-shrink": (
                                property: flex-shrink,
                                class: flex,
                                values: (
                                        shrink-0: 0,
                                        shrink-1: 1,
                                )
                        ),
                        "flex-wrap": (
                                property: flex-wrap,
                                class: flex,
                                values: wrap nowrap wrap-reverse
                        ),
                        "justify-content": (
                                property: justify-content,
                                class: h,
                                values: (
                                        start: flex-start,
                                        end: flex-end,
                                        center: center,
                                        space-between: space-between,
                                        space-around: space-around,
                                        space-evenly: space-evenly,
                                )
                        ),
                        "align-items": (
                                property: align-items,
                                class: v,
                                values: (
                                        start: flex-start,
                                        end: flex-end,
                                        center: center,
                                        baseline: baseline,
                                        stretch: stretch,
                                )
                        ),
                        "rounded": (
                                property: border-radius,
                                class: br,
                                values: base.$borders
                        ),
                  // Margin utilities
                        "margin": (
                                property: margin,
                                class: ma,
                                values: map.merge(base.$spacers, (auto: auto))
                        ),
                        "margin-x": (
                                property: margin-right margin-left,
                                class: mx,
                                values: map.merge(base.$spacers, (auto: auto))
                        ),
                        "margin-y": (
                                property: margin-top margin-bottom,
                                class: my,
                                values: map.merge(base.$spacers, (auto: auto))
                        ),
                        "margin-top": (
                                property: margin-top,
                                class: mt,
                                values: map.merge(base.$spacers, (auto: auto))
                        ),
                        "margin-right": (
                                property: margin-right,
                                class: mr,
                                values: map.merge(base.$spacers, (auto: auto))
                        ),
                        "margin-bottom": (
                                property: margin-bottom,
                                class: mb,
                                values: map.merge(base.$spacers, (auto: auto))
                        ),
                        "margin-left": (
                                property: margin-left,
                                class: ml,
                                values: map.merge(base.$spacers, (auto: auto))
                        ),
                        "margin-start": (
                                property: (ltr: margin-left, rtl: margin-right),
                                class: ms,
                                values: map.merge(base.$spacers, (auto: auto))
                        ),
                        "margin-end": (
                                property: (ltr: margin-right, rtl: margin-left),
                                class: me,
                                values: map.merge(base.$spacers, (auto: auto))
                        ),
                  // Padding utilities
                        "padding": (
                                property: padding,
                                class: pa,
                                values: base.$spacers
                        ),
                        "padding-x": (
                                property: padding-right padding-left,
                                class: px,
                                values: base.$spacers
                        ),
                        "padding-y": (
                                property: padding-top padding-bottom,
                                class: py,
                                values: base.$spacers
                        ),
                        "padding-top": (
                                property: padding-top,
                                class: pt,
                                values: base.$spacers
                        ),
                        "padding-right": (
                                property: padding-right,
                                class: pr,
                                values: base.$spacers
                        ),
                        "padding-bottom": (
                                property: padding-bottom,
                                class: pb,
                                values: base.$spacers
                        ),
                        "padding-left": (
                                property: padding-left,
                                class: pl,
                                values: base.$spacers
                        ),
                        "padding-start": (
                                property: (ltr: padding-left, rtl: padding-right),
                                class: ps,
                                values: base.$spacers
                        ),
                        "padding-end": (
                                property: (ltr: padding-right, rtl: padding-left),
                                class: pe,
                                values: base.$spacers
                        ),
                  // Text
                        "text-align": (
                                property: text-align,
                                class: text,
                                values: left right center justify start end
                        ),
                        "white-space": (
                                property: white-space,
                                class: text,
                                values: (
                                        wrap: normal,
                                        no-wrap: nowrap,
                                        pre-wrap: pre-wrap,
                                        pre-line: pre-line,
                                )
                        ),
                        "overflow-wrap": (
                                property: overflow-wrap word-break, // word-break for IE & < Edge 18
                                class: text,
                                values: (break: break-word)
                        ),
                        "text-overflow": (
                                property: white-space overflow text-overflow,
                                class: text,
                                values: (truncate: nowrap hidden ellipsis)
                        ),
                        "text-transform": (
                                property: text-transform,
                                class: text,
                                values: none capitalize lowercase uppercase
                        )
                ),
                $utilities
);
