@import '../../../style/include';

.#{$prefix}text-editor {


  .editor-content {
    border: 1px solid var(--color-sheet-low);
  }

  @include typography($headings, 'body-2');

  a {
    color: var(--color-one)
  }

  img {
    max-width: 100%;
  }

  .editor-content {
    color: var(--color-on-sheet);
    transition: all .3s ease;
    min-height: 200px;
    max-height: 60vh;
    width: 100%;
    overflow-y: auto;
    padding: 10px;
    outline: none;

    div {
      min-width: 50px;
      min-height: 20px;
      border: 1px solid rgba(150, 150, 150, 0.6);
    }
  }

  .img-holder {
    display: inline-block;
    position: relative;

    .#{$prefix}btn {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }

  img:hover {
    cursor: pointer;
  }
}