@use "../../style/variables/base";
@use "../../style/mixins/container" as mixins;

.#{base.$prefix}breadcrumbs {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
  list-style-type: none;
  margin: 0 !important;
  padding: 0 14px;

  &.breadcrumbs-sheet {
    background-color: var(--color-sheet-container);
    color: var(--color-on-sheet);
  }

  .breadcrumb-divider, .breadcrumb-item-disabled, .#{base.$prefix}icon {
    color: var(--color-border)
  }


  li {
    align-items: center;
    display: inline-flex;
    font-size: 1rem;

    &:nth-child(even) {
      padding: 0 12px
    }

    @include mixins.media-breakpoint-down('md') {
      &:nth-child(even) {
        padding: 0 4px
      }
    }

  }

  .breadcrumb-item {
    align-items: center;
    display: inline-flex;
    text-decoration: none;
    transition: 0.3s base.$primary-transition;
    cursor: pointer;

    &-disabled {
      pointer-events: none
    }
  }
}
