@use "../variables/base";

@use "sass:map";
@use "sass:math";


@function breakpoint-min-width($name, $breakpoints: base.$grid-breakpoints) {
  $min: map.get($breakpoints, $name);
  @return if($min != 0, $min, null)
}

@function breakpoint-min-name($name, $breakpoints: base.$grid-breakpoints,$prefix:'-') {
  @return if(breakpoint-min-width($name, $breakpoints) == null, "", "#{$prefix}#{$name}")
}

@function map-metro-get($map, $keys...) {
  @each $key in $keys {
    $map: map.get($map, $key);
  }
  @return $map
}

@function fluid-font-size($min-size, $max-size, $min-vw: base.$min-viewport-width, $max-vw: base.$max-viewport-width) {
  $slope: math.div($max-size - $min-size, $max-vw - $min-vw);
  $slope-vw: $slope * 100;
  $intercept: $min-size - $slope * $min-vw;
  @return clamp(#{$min-size}, #{$intercept} + #{$slope-vw}vw, #{$max-size});
}