@import '../../style/style.scss';

.#{$prefix}app {
  display: flex;

  background: var(--color-background-one);
  color: var(--color-text-primary);

  .background-one {
    background: var(--color-background-one);
  }

  .background-two {
    background: var(--color-background-two);
  }


  &.app-rtl {
    direction: rtl;
    text-align: right;
  }

  &.app-ltr {
    direction: ltr;
    text-align: left;
  }

  .app-wrap {
    flex: 1 1 auto;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    position: relative;
    overflow-x: hidden;
  }

}

// Firefox overrides
@include firefox() {
  @media print {
    .#{$prefix}app {
      display: block;

      &-wrap {
        display: block
      }
    }
  }
}

