@use "sass:math";
@use "../../style/variables/base";
@use "../../style/mixins/container" as mixins;

.#{base.$prefix}container {
  padding: base.$container-padding-x;
  margin-right: auto;
  margin-left: auto;

  @include mixins.make-container-max-widths;

  &.container-fluid {
    max-width: 100%;
    width: 100%;
  }

  &.fill {
    height: 100%;
    width: 100%;
  }

}

// Row
//
// Rows contain and clear the floats of your columns.
.row {
  @include mixins.make-row ;

  .col {
    &.h-center, &.h-start, &.h-end,
    &.v-center, &.v-start, &.v-end {
      display: flex;
    }
  }

  &-dense {
    margin-right: math.div(base.$form-grid-gutter, -2);
    margin-left: math.div(base.$form-grid-gutter, -2);

    .col {
      padding: math.div(base.$form-grid-gutter, 2) !important;
    }
  }

  &.row-grid {
    overflow: hidden;
    margin-right: 0;
    margin-left: 0;
    border: 1px solid var(--color-border-low);
  }

  &.row-grid .col {
    position: relative;
    margin: 0;
  }

  &.row-grid .col:before, &.row-grid .col:after {
    box-sizing: border-box;
    content: '';
    position: absolute;
  }

  &.row-grid .col:before {
    height: 100%;
    top: 0;
    left: -1px;
    border-left: 1px solid var(--color-border-low);
  }

  &.row-grid .col:after {
    width: 100%;
    height: 0;
    top: auto;
    left: 0;
    bottom: -1px;
    border-bottom: 1px solid var(--color-border-low);
  }
}

// Remove the negative margin from default .row, then the horizontal padding
// from all immediate children columns (to prevent runaway style inheritance).
.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col {
    padding: 0 !important;
  }
}

// Columns
//
// Common styles for small and large grid columns
@include mixins.make-grid-columns;


//divider
$divider-inset-margin: 72px !default;

.#{base.$prefix}divider {
  display: block;
  flex: 1 1 0px;
  max-width: 100%;
  height: 0px;
  max-height: 0px;
  transition: inherit;

  border-top: solid thin var(--color-border-low);

  &.divider-inset:not(.divider-vertical) {
    max-width: calc(100% - #{$divider-inset-margin});

    margin-left: $divider-inset-margin;

    margin-right: $divider-inset-margin;

  }

  &.divider-vertical {
    align-self: stretch;
    border: solid;
    border-width: 0 thin 0 0;
    display: inline-flex;
    height: inherit;
    min-height: 100%;
    max-height: 100%;
    max-width: 0px;
    width: 0px;
    vertical-align: text-bottom;

    &.divider-inset {
      margin-top: 8px;
      min-height: 0;
      max-height: calc(100% - 16px);
    }
  }
}
