@import "renusify/style/_include.scss";

.#{$prefix}container {
  padding: $container-padding-x;
  margin-right: auto;
  margin-left: auto;

  @include make-container-max-widths;

  &.container-fluid {
    max-width: 100%;
    width: 100%;
  }

  &.fill {
    height: 100%;
    width: 100%;
  }

}

// Row
//
// Rows contain and clear the floats of your columns.
.row {
  @include make-row ;

  .col {
    &.h-center, &.h-start, &.h-end,
    &.v-center, &.v-start, &.v-end {
      display: flex;
    }
  }

  &-dense {
    margin-right: div($form-grid-gutter, -2);
    margin-left: div($form-grid-gutter, -2);

    .col {
      padding: div($form-grid-gutter, 2) !important;
    }
  }
}

// Remove the negative margin from default .row, then the horizontal padding
// from all immediate children columns (to prevent runaway style inheritance).
.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col {
    padding: 0 !important;
  }
}

// Columns
//
// Common styles for small and large grid columns
@include make-grid-columns;


//divider
$divider-inset-margin: 72px !default;

.#{$prefix}divider {
  display: block;
  flex: 1 1 0px;
  max-width: 100%;
  height: 0px;
  max-height: 0px;
  transition: inherit;

  border-top: solid thin var(--color-border-low);

  &.divider-inset:not(.divider-vertical) {
    max-width: calc(100% - #{$divider-inset-margin});

    margin-left: $divider-inset-margin;

    margin-right: $divider-inset-margin;

  }

  &.divider-vertical {
    align-self: stretch;
    border: solid;
    border-width: 0 thin 0 0;
    display: inline-flex;
    height: inherit;
    min-height: 100%;
    max-height: 100%;
    max-width: 0px;
    width: 0px;
    vertical-align: text-bottom;

    &.divider-inset {
      margin-top: 8px;
      min-height: 0;
      max-height: calc(100% - 16px);
    }
  }
}
