@use "sass:map";
@use "utilities";
@use 'container';
@use "../functions";
@use "../variables/base";


@mixin rtl() {
  .app-rtl & {
    @content
  }
}

@mixin ltr() {
  .app-ltr & {
    @content
  }
}

@mixin background-color($color_value, $important: false) {
  background-color: $color_value if($important, !important, null);
  border-color: $color_value if($important, !important, null);
}

@mixin text-color($color_value, $important: false) {
  color: $color_value if($important, !important, null);
  caret-color: $color_value if($important, !important, null);
}


@mixin typography($styles-map, $key) {
  $style: map.get($styles-map, $key);

  font-weight: map.get($style, 'weight');
  line-height: map.get($style, 'line-height');
  letter-spacing: map.get($style, 'letter-spacing');
  text-transform: map.get($style, 'text-transform');

  @if map.get($style, 'fluid') {
    font-size: functions.fluid-font-size(
                    map.get($style, 'min-size'),
                    map.get($style, 'max-size')
    );
  } @else {
    font-size: map.get($style, 'size');
  }
}

@mixin elevation($name, $important: false) {
  box-shadow: map.get(base.$box-shadows, $name) if($important, !important, null);
  -webkit-box-shadow: map.get(base.$box-shadows, $name) if($important, !important, null)
}

@mixin states() {
  &:hover::before {
    opacity: functions.map-metro-get(base.$states, 'hover', 'state', 'opacity')
  }
  &:focus::before {
    opacity: functions.map-metro-get(base.$states, 'focus', 'state', 'opacity')
  }
  &-active {
    @include active-states()
  }
}

@mixin active-states() {
  &:hover::before, &::before {
    opacity: functions.map-metro-get(base.$states, 'activated', 'state', 'opacity')
  }
  &:focus::before {
    opacity: functions.map-metro-get(base.$states, 'pressed', 'state', 'opacity')
  }
}

@mixin disable-states() {
  &::before {
    opacity: functions.map-metro-get(base.$states, 'disabled', 'state', 'opacity') !important;
  }
  opacity: functions.map-metro-get(base.$states, 'disabled', 'text', 'opacity') !important;
  color: var(--color-#{functions.map-metro-get(base.$states, 'disabled','text','color')}) !important;
  pointer-events: none;
  user-select: none;
  box-shadow: none;
}

@mixin firefox() {
  @-moz-document url-prefix() {
    @content
  }
}
