@import "utilities";
@import 'container';

@mixin rtl() {
  .app-rtl & {
    @content
  }
}

@mixin ltr() {
  .app-ltr & {
    @content
  }
}

@mixin background-color($color_value, $important: false) {
  background-color: $color_value if($important, !important, null);
  border-color: $color_value if($important, !important, null);
}

@mixin text-color($color_value, $important: false) {
  color: $color_value if($important, !important, null);
  caret-color: $color_value if($important, !important, null);
}

@mixin typography($headings,$key) {
  font-size: map-metro-get($headings, $key, 'size');
  font-weight: map-metro-get($headings, $key, 'weight');
  line-height: map-metro-get($headings, $key, 'line-height');
  letter-spacing: map-metro-get($headings, $key, 'letter-spacing');
}

@mixin elevation($name, $important: false) {
  box-shadow: map-get($box-shadows, $name) if($important, !important, null);
  -webkit-box-shadow: map-get($box-shadows, $name) if($important, !important, null)
}

@mixin states() {
  &:hover::before {
    opacity: map-metro-get($states, 'hover', 'state', 'opacity')
  }
  &:focus::before {
    opacity: map-metro-get($states, 'focus', 'state', 'opacity')
  }
  &-active {
    @include active-states()
  }
}

@mixin active-states() {
  &:hover::before, &::before {
    opacity: map-metro-get($states, 'activated', 'state', 'opacity')
  }
  &:focus::before {
    opacity: map-metro-get($states, 'pressed', 'state', 'opacity')
  }
}

@mixin disable-states() {
  &::before {
    opacity: map-metro-get($states, 'disabled', 'state', 'opacity') !important;
  }
  opacity: map-metro-get($states, 'disabled', 'text', 'opacity') !important;
  color: var(--color-#{map-metro-get($states, 'disabled','text','color')}) !important;
  pointer-events: none;
  user-select: none;
  box-shadow: none;
}

@mixin firefox() {
  @-moz-document url-prefix() {
    @content
  }
}
