@import "../../../style/include";


.#{$prefix}rating {
  max-width: 100%;
  white-space: nowrap;
  transition: 1s $primary-transition;
  @include light(){
    color: var(--color-text-disabled-light);
  }
  @include dark(){
    color: var(--color-text-disabled-dark);
  }
}
