@import "../../../style/include";
$min-height:40px;
.#{$prefix}select-container {
  position: relative;
  .input-control {
    min-height: $min-height;
    height: auto;
    flex-direction: row;
    align-items: center;
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
    line-height: 24px;
    max-width: 100%;
    min-width: 0;
  }

  .select-wrap {
    max-width: 100%;
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
  }

  input {
    flex: 1 1;
    margin-top: 0;
    min-width: 140px;
    position: relative;
  }

  .#{$prefix}chip {
    flex: 0 1 auto;
    margin: 4px;
  }

  .card-select {
    max-height: 0;
    overflow: auto;
    opacity: .5;
    transition: all .3s $primary-transition;
    position: absolute;
    left: 0;
    z-index: map_get($z-index, 'default');
  }
  .to-top{
    bottom: $min-height+2px;
  }

  .card-select-active {
    transition: all 0.3s $primary-transition;
    max-height: 300px;
    opacity: 1;
  }
}
