@use "sass:map";
@use "../../style/variables/base";
@use "../../style/mixins";


.r-directive-sortable {
  position: relative;

  .dragable {
    .grab {
      cursor: grab;
    }

    &.grab {
      cursor: grab;
    }
  }

  .sortable-holder {
    background-color: rgba(20, 200, 255, 0.5);
  }

  .on-drag {
    position: fixed;
    z-index: 100;
    @include mixins.elevation('xl');
    border-radius: map.get(base.$borders, 'md');
    user-select: none;
    cursor: grabbing;
  }
}
