@import '../../style/_include';

.#{$prefix}content {
  width: 100%;
  max-width: 100%;
  transition: 0.2s map-get($transition, 'fast-out-slow-in');
  position: relative;
  @include firefox() {
    @media print {
      display: block
    }
  }

  &.flipped {
    @include rtl() {
      padding-right: $navbar-width;
    }
    @include ltr() {
      padding-left: $navbar-width;
    }
  }

  &.moved {
    width: calc(100% + #{$navbar-width});
    @include rtl() {
      margin-right: $navbar-width;
    }
    @include ltr() {
      margin-left: $navbar-width;
    }
  }

  &.below-header {
    margin-top: $toolbar-height;
  }

}



