@use "sass:map";
@use "../../../style/variables/base";
@use "../../../style/functions";
@use "../../../style/mixins";

$bottom-nav-btn-font-size: functions.map-metro-get(base.$headings, 'label-1', 'size') !default;

.#{base.$prefix}bottom-navigation {
  bottom: 0;
  display: flex;
  left: 0;
  justify-content: center;
  width: 100%;
  height: base.$bottom-nav-height;
  background-color: var(--color-sheet-container);
  color: var(--color-on-sheet);
  @include mixins.typography(base.$headings, 'body-3');

  .router-link-exact-active {
    color: var(--color-one)
  }

  .#{base.$prefix}btn {
    border-radius: 0;
    box-shadow: none;
    flex: 0 1 auto;
    font-size: $bottom-nav-btn-font-size;;
    height: inherit !important;
    max-width: base.$bottom-nav-btn-max-width;
    min-width: base.$bottom-nav-btn-min-width;
    position: relative;
    text-transform: none;

    &:after {
      content: none
    }

    .btn-content {
      flex-direction: column-reverse;
      height: inherit;
    }

    .#{base.$prefix}icon {
      margin-bottom: 4px
    }

    > *:not(.#{base.$prefix}icon) {
      line-height: 1.2
    }

    &.router-link-exact-active {
      color: inherit
    }
  }

  &.bottom-navigation-fixed {
    position: fixed;
    z-index: map.get(base.$z-index, 'default')
  }

  &.bottom-navigation-grow {
    .#{base.$prefix}btn {
      width: 100%;
      max-width: 100%;
    }
  }
}
