@import "../../../style/include";

.#{$prefix}toolbar {
  flex: 1 1 auto;

  .toolbar-mobile {
    .toolbar-close{
      width: 40px;
      height: 40px;
      position: absolute;
      transition: 2s all map-get($transition, 'swing');
      @include rtl(){
        right: -40px;
      }
      @include ltr(){
        left: -40px;
      }
    }
    .toolbar-side{
      width: 300px;
      height: 100%;
      overflow: auto;
      position: absolute;
      transition: .5s all map-get($transition, 'swing');
      @include rtl(){
        right: -300px;
      }
      @include ltr(){
        left: -300px;
      }
    }
    .shadow {
      position: fixed;
      top: 0;
      width: 0;
      height: 100vh;
      z-index: map_get($z-index, 'important');
      background-color: var(--color-overlay-light);
      transition: 1s width map-get($transition, 'swing');
      overflow: hidden;
      @include rtl(){
        right: 0;
      }
      @include ltr(){
        left: 0;
      }
    }
    &.toolbar-open{
      .shadow {
        width: 100vw;
      }
      .toolbar-side {
        transition: 2s all map-get($transition, 'swing');
        @include rtl() {
          right: 0;
        }
        @include ltr() {
          left: 0;
        }
      }
      .toolbar-close{
        @include rtl() {
          right: 300px;
        }
        @include ltr() {
          left: 300px;
        }
      }
    }
  }

  .toolbar-content {
    height: $toolbar-height;
    padding: $toolbar-content-padding-y $toolbar-content-padding-x;
    align-items: center;
    display: flex;
    position: relative;
    z-index: map_get($z-index, 'medium');
  }

  .toolbar-items {
    display: flex;
    height: inherit;
    align-items: flex-end;
  }

  .menu-title {
    position: relative;

    &:before {
      content: '-';
      position: absolute;
      color: #9e9e9e;
      @include rtl() {
        right: -8px;
      }
      @include ltr() {
        left: -8px;
      }
    }
  }

  .menu-list {
    transition: 1s map-get($transition, 'swing');
    min-width: 200px;
    max-height: 500px;
    overflow-y: auto;
    @include rtl() {
      border-right: 1px solid #9e9e9e;
    }
    @include ltr() {
      border-left: 1px solid #9e9e9e;
    }
  }

  .menu-hide {
    max-height: 0;
    overflow: hidden;
  }

  .toolbar-item {
    padding: 20px 5px;
    font-size: 1.125rem;
    font-weight: bold;
    position: relative;

    .toolbar-childs {
      transition: 1s map-get($transition, 'swing');
      position: absolute;
      top: 40px;
      max-height: 0;
      overflow: hidden;
      z-index: map_get($z-index, 'important');
    }

    &:before {
      transition: $primary-transition;
      content: '';
      width: 0;
      position: absolute;
      bottom: 0;
      @include light() {
        color: var(--color-one-light);
      }
      @include dark() {
        color: var(--color-one-dark);
      }
      border-bottom: 4px solid;
    }

    &:hover {
      .toolbar-childs {
        overflow: auto;
        max-height: 500px;
      }

      &:before {
        width: 90%;
      }
    }
  }

  &.toolbar-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: map_get($z-index, 'medium');
  }

  &.toolbar-sticky {
    position: sticky;
    top: 0;
    z-index: map_get($z-index, 'medium');
  }
}
