@use "../../style/variables/base";
@use "../../style/mixins";

.#{base.$prefix}icon {
  display: inline-flex;
  vertical-align: -.5rem;

  &.icon-disabled {
    @include mixins.disable-states();
  }

  @include mixins.rtl() {
    &:not(.exact-icon) {
      transform: scale(-1, 1);
    }
  }
}