@import "../../style/include";

.#{$prefix}icon {
  display: inline-flex;
  vertical-align: -.5rem;

  &.icon-disabled {
    pointer-events: none;
    opacity: .6;
    color: var(--color-disabled) !important

  }

  @include rtl() {
    &:not(.exact-icon) {
      transform: scale(-1, 1);
    }
  }
}